* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-weight: 900;
   align-items: center;
}


input {
   border-radius: 4px;
   outline: none;
   padding: 12px 10px;
   width: 100%;
   border: 1px solid #7d7d7d;
}

label {
   font-size: 12px;
}

.container {
   width: 90%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   margin: 50px auto;
}

.heading span {
   margin-left: 5px;
}

form {
   width: 40%;
   display: grid;
   gap: 25px;
   grid-template-columns: repeat(2, 1fr);
}

button {
   padding: 15px 40px;
   background: linear-gradient(70deg, #06c, rgb(0, 80, 160));
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transform: translateX(140px);
}

#hel {
   display: none;
   position: absolute;
   margin-right: 7px;
}

.box {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

h3 {
   transform: translate(65px);
   font-size: 44px;
}

.box:not(.box:nth-child(3), .box:nth-child(7), .box:nth-child(9), .box:nth-child(11), .box:nth-child(13), .box:nth-child(14)) span {
   color: #06c;
   font-weight: 500;
}

.blue {
   border: 1px solid #06c;
}

.invalid {
   border: 1px solid red;
}

.valid {
   border: 1px solid green;
}


.ab {
   display: flex;
}

.bt {
   background: red !important;
}

img {
   height: 18px;
   position: absolute;
   transform: translate(250px, 40px);
   opacity: 0;
   transition: .4s ease;
}

@keyframes spin {
   to {
      -webkit-transform: rotate(360deg);
   }
}

@-webkit-keyframes spin {
   to {
      -webkit-transform: rotate(360deg);
   }
}